@use 'base/variables' as var;
@use 'base/mixins' as mx;

.school {
  background-image: url(../img/page/chef_bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 14rem 0;
  text-align: center;
  color: var.$color_white;
  &__heading {
    font-weight: 700;
  }
  &__text {
    font-size: 2.6rem;
    max-width: 50rem;
    margin: 0 auto;
  }
  &__link {
    @include mx.button(var.$color_primary, var.$color_white);
  }
}
